/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #00FFFF;
  color: #333;
  text-align: center;
  padding: 1rem 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.game {
  width: 300px;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #333;
}

a {
  display: inline-block;
  background-color: #DAA520;
  color: #000080;
  padding: 0.5rem 1rem;
  text-decoration: none;
  margin-top: 1rem;
}

a:hover {
  background-color: #FFF;
}
